/* theme variables */
* {
    -soft-black: #292929;
    -yellow: #eed80e;
    -blue: #33dbea;
    -pink: #f7007c;
    -purple: #8714f5;
    -grey: #585858;
}

@font-face {
    font-family: 'Dyuthi';
    src: url("../fonts/Dyuthi-Regular.ttf");
}

.root {
    -fx-background-color: -soft-black;
    -fx-font-family: 'Dyuthi';
    -fx-font-size: 40;
    -fx-font-weight: lighter;
}

/* General Styling Classes */
.fill-yellow { -fx-fill: -yellow; }
.fill-blue { -fx-fill: -blue; }
.fill-pink { -fx-fill: -pink; }
.fill-purple { -fx-fill: -purple; }
.fill-soft-black { -fx-fill: -soft-black }
.fill-grey { -fx-fill: -grey }

.heading-text {
    -fx-font-size: 75;
    -fx-fill: white;
}

.small-on-hover:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.curve-rect-30 {
    -fx-arc-height: 30;
    -fx-arc-width: 30;
}

/* End of General Styling */

/* Home Scene */

.scale-80 {
    -fx-scale-x: 0.78;
    -fx-scale-y: 0.78;
}

.scale-60 {
    -fx-scale-x: 0.60;
    -fx-scale-y: 0.60;
}

.home-button {
    -fx-fill: -grey;
    -fx-background-radius: 20;
}

.home-heading {
    -fx-font-size: 100;
    -fx-fill: white;
}

/* End of Home Scene */

/* Setting Scene */

.settings-button {
    -fx-background-radius: 15;
    -fx-padding: 5 25 5 25;
    -fx-font-size: 35;
    -fx-pref-width: 400;
}

.settings-icon {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}

/* End of Settings Scene */

/* Produced By Scene */
.names {
    -fx-font-size: 50;
}

.feedback-button {
    -fx-background-radius: 20;
    -fx-padding: 0 25 0 25;
    -fx-background-color: -grey;
    -fx-text-fill: white;
}

.feedback-button:hover {
    -fx-background-color: #4d4c4c;
}
/* End of Produced By Scene */

/* About Game Scene */
.about_game_info {
    -fx-font-size: 35;
}

.about_game_subhead {
    -fx-font-size: 50;
}

/* End of About Game Scene*/

/* View Stats Scene */
.stats_info {
    -fx-font-size: 45;
}
/* End of View Scene */

/* User Login Scene */
.login_details {
    -fx-fill: white;
    -fx-font-size: 30;
}
.login_text_prompts{
    -fx-font-size: 20;
}
.login_subhead{
    -fx-fill: #00FA9A;
    -fx-font-size: 40;
}
.login_page_button {
    -fx-background-radius: 15;
    -fx-font-size: 30;
    -fx-background-color: grey;
    -fx-text-fill: white;
}
/* End of Login Scene */
